.btn-icon {
  height: 36px;
  display: flex;
  justify-content: center;
  padding: 8px 16px 8px 12px;
  cursor: pointer;
  box-sizing: border-box;
}

.btn__link {
  padding: 8px 0;
  color: #137ae8;
}

.btn__main {
  border-radius: var(--border-radius);
  background: var(--white-color);
  padding: 8px 16px;
  cursor: pointer;
}
.btn__text {
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #000;
}

